@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-family-montserrat: Montserrat, sans-serif;
  --font-family-lora: Lora, serif;
  --font-family-nunito: Nunito, sans-serif;
  --font-family-opensans: "Open Sans", sans-serif;
}

@layer base {
  :root {
    --font-body-family: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-scale: 1;
    --color-foreground: 0, 0, 0;
    --color-background: 255, 255, 255;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    box-sizing: border-box;
  }

  body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 20.8px;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    color: rgb(0, 0, 0);
    background-color: rgb(var(--color-background));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p,
  span,
  div,
  a,
  button,
  li,
  label,
  input,
  textarea {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 20.8px;
    margin: 0;
  }

  @media screen and (min-width: 750px) {
    body {
      font-size: 1.6rem;
    }
  }

  #root {
    min-height: 100vh;
  }
}
